---
import { Image } from 'astro:assets';
import SwiperCarousel from '@/components/app/SwiperCarousel.astro';
import type { ImageMetadata } from 'astro';

interface CarouselItem {
  name: string;
  imagePath: string;
}

interface Advantage {
  text: string;
}

export interface SectionData {
  id: string;
  title: string;
  subtitle: string;
  paragraphs: string[];
  carouselTitle: string;
  carousel: CarouselItem[];
  advantagesTitle: string;
  advantages: Advantage[];
  bottomTitle: string;
  bottomDescription: string;
  bottomImagePath: string;
}

interface Props {
  lang: string;
  data: SectionData;
}

const { data } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/**/*.{jpeg,jpg,png,gif}');

if (!images[data.bottomImagePath]) {
  throw new Error(`"${data.bottomImagePath}" does not exist in glob: "/src/assets/**/*.{jpeg,jpg,png,gif}"`);
}

const bottomImage = images[data.bottomImagePath]();
---

<section class="py-10 md:py-20 border-b border-gray-200">
  <div class="container relative">
    {/* Header */}
    <div class="mb-10 space-y-5">
      <h2 class="text-3xl md:text-5xl font-bold text-[#916a2a]">
        {data.title}
      </h2>
      <p class="text-lg md:text-xl font-semibold text-[#b79647]">
        {data.subtitle}
      </p>

      <div class="space-y-5 md:text-lg font-medium">
        {data.paragraphs.map((p) => <p>{p}</p>)}
      </div>
    </div>

    {/* Carousel */}
    <h3 class="text-2xl md:text-3xl font-bold text-[#916a2a] mb-5 md:mb-10">
      {data.carouselTitle}
    </h3>
    <SwiperCarousel slides={data.carousel} class="interior-styles-swiper" />

    <h3 class="text-2xl md:text-3xl font-bold text-[#916a2a] mb-5 md:mb-8">
      {data.advantagesTitle}
    </h3>
    <ul class="grid grid-cols-1 md:grid-cols-2 gap-y-1">
      {
        data.advantages.map((advantage) => (
          <li class="flex items-start gap-2 md:text-lg font-medium">
            <span class="mt-2.5 w-1.5 h-1.5 rounded-full bg-black shrink-0" />
            {advantage.text}
          </li>
        ))
      }
    </ul>

    <div class="grid lg:grid-cols-[2fr_1fr] gap-10 items-center">
      <div class="mt-16">
        <h3 class="text-2xl md:text-3xl font-bold text-[#916a2a] mb-6">
          {data.bottomTitle}
        </h3>
        <p class="md:text-lg font-medium">{data.bottomDescription}</p>
      </div>

      <div class="relative flex justify-center lg:justify-end">
        <div class="relative z-10 w-full max-w-sm">
          <Image src={bottomImage} alt={data.bottomTitle} class="w-full h-auto" />
        </div>
      </div>
    </div>
  </div>
</section>
